.section-proyectos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
/* //================================================== */
/* OTROS */
.bg-withe {
  background-color: #f8f8f8;
}
.bg-yellow {
  background: rgb(250, 222, 118);
}
/* //================================================== */
/* CONTENEDOR CARD */
.contenedor-card {
  width: 100%;
  display: flex;
}
/* //================================================== */
/* CONTENEDOR IMAGENES */
.contenedor-imagenes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 40rem;
}

/* //================================================== */
/* NOMBRE PROYECTO */
.nombre-proyecto {
  width: auto;
  color: #472da5;
  background-color: #ffff;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  top: 320px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
/* //================================================== */
/* IMAGEN DESKTOP */
.imagen-desktop {
  display: flex;
  width: 80%;
  height: auto;
  margin-top: 13.5rem;
}
/* IMG MOBILE IZQ */
.imagen-mobile-izq {
  display: flex;
  position: relative;
  bottom: 330px;
  right: 220px;
  width: 45%;
}
/* IMG MOBILE DER */
.imagen-mobile-der {
  display: flex;
  position: relative;
  bottom: 320px;
  left: 210px;
  width: 22%;
}
/* //================================================== */
/* CONTENEDOR INFORMACION CARD */
.contenedor-info {
  width: 50%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* //================================================== */
/*DESCRIPCION*/
.descripcion {
  width: 60%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
/* //================================================== */
/*LINK DE VISITA*/
/* DER */
.link-proyecto-der {
  text-decoration: none;
  width: 12rem;
  margin-top: 1.5rem;
  color: #ffff;
  background-color: #472da5;
  padding: 0.9rem;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.link-proyecto-der:hover {
  background-color: #3b258d;
}
/* IZQ */
.link-proyecto-izq {
  position: relative;
  text-decoration: none;
  width: 12rem;
  margin-top: 1.5rem;
  color: #ffff;
  background-color: #472da5;
  padding: 0.9rem;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.link-proyecto-izq:hover {
  background-color: #3b258d;
}
/* //================================================== */
