/* SECTION HEADER */
.section-header {
  width: 100%;
  height: 4.5rem;
  display: flex;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: space-between;
  color: #585353;
  font-size: 1.2em;
  font-weight: 400;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 2;
  text-decoration: none;
}

/* ========================================= */
/* LOGO */
.logo {
  width: 4rem;
  height: 4rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 3rem;
  font-size: 30px;
  color: #252525;
  transition: 0.2s linear;
  outline: none;
}

.logo p {
  margin: 0;
  height: 4rem;
  padding-top: 0.5rem;
  border: 4px solid #8469e6;
  border-radius: 50%;
  text-align: center;
}

.logo:visited,
.link-section:visited {
  color: #252525;
}

.logo p:hover {
  border: 4px solid #512cd8;
  transition: 0.5s linear;
}

/* ========================================= */
/* SECTIONS */

.nav-sections {
  display: flex;
  text-align: center;
}

.link-section {
  text-decoration: none;
  margin: 0 1.5rem;
  color: #252525;
  outline: none;
}
/* ANIMATION UNDERLINE */
.link-section:after {
  content: "";
  display: flex;
  width: 100%;
  height: 3px;
  background: #747cff;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.link-section:hover:after,
.link-section:focus:after {
  visibility: visible;
  transform: scaleX(1);
}
/* ========================================= */
/* MENU HAMBURGUESA */
div.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 80px;
  margin: 0px 100px;
}

.navbar-mobile {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#hamburguesa {
  display: none;
}

.menu-hamburguesa span {
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  background-color: black;
  transition: 0.3s ease;
  z-index: 2;
}

.linea-1 {
  transform-origin: 10% 0%;
  margin-bottom: 3px;
}

.linea-2 {
  margin-bottom: 3px;
}

.linea-3 {
  transform-origin: 10% 100%;
}

input:checked ~ label .linea-1 {
  transform: rotate(45deg);
}

input:checked ~ label .linea-2 {
  opacity: 0;
}

input:checked ~ label .linea-3 {
  transform: rotate(-45deg);
}

.nav-menu-mobile {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.4s ease;
  overflow: hidden;
}
