/* SECTION CONOCEME */

.section-conoceme {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 25vh;
  justify-content: space-evenly;

  background-color: #3b3b3b;
}
/* ========================================= */

/* IMAGE PERSONAL */
.imagen-personal {
  width: 325px;
  height: 380px;
  padding: 20px;
  background-image: url(../Conoceme/foto-mario-conti.jpeg);
  background-position: right;
  background-size: cover;
  border-radius: 46%;
  margin-left: 10rem;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}
/* ========================================= */
/* INFO = TEXTO + LINK */
.info {
  width: 55vh;
  height: 53vh;
  background-color: #f4f4f4c2;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10rem;
  margin-top: 5vh;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}

.bold {
  font-weight: bold;
}
/* ========================================= */
/* TEXT PRESENTATION */
.texto-presentacion {
  width: auto;
  height: auto;
  margin: 2.5rem 0rem 1.7rem 1rem;
  padding: 0 2rem;
  color: #252525;
  font-size: 1.2em;
  font-weight: 500;
}
/* ========================================= */

/* LINK CONTACTAME */
.link-contactame {
  text-decoration: none;
  width: 12rem;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #f4f4f4;
  background-color: #472da5;
  padding: 0.5rem;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.link-contactame:hover {
  background-color: #3b258d;
}
/* ========================================= */
