/* SECCION CONOCEME PRINCIPAL */
.section-conoceme {
  width: 100%;
  display: flex;
}
/* ========================================= */
/* SECTIONS */
.section-descripcion,
.section-imagen {
  width: 50%;
  height: 40rem;
  display: flex;
  flex-direction: column;
}
/* ========================================= */
/* IMAGEN MARIO */
.encabezado {
  margin-top: 8rem;
  margin-left: 4em;
  display: flex;
}

.image-Mario-Conti {
  width: 14rem;
  height: 14rem;
  border-radius: 45%;
}
/* ========================================= */
/* TITULO ENCABEZADO */
.titulo-seccion {
  margin-top: auto;
  margin-left: 2rem;
  font-size: 30px;
}
/* ========================================= */
/* DESCRIPCION */
.descripcion {
  display: flex;
  flex-direction: column;
}

/* LINK CONTACTAME */
.link-contactame {
  text-decoration: none;
  margin: 0 auto;
  color: #f4f4f4;
  background-color: #472da5;
  padding: 0.5rem;
  border-radius: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}

.link-contactame:hover {
  background-color: #3b258d;
}
/* ========================================= */
