html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* TITULO SECCION */
.titulo-section {
  width: 100%;
  margin-top: 2.5rem;
  padding-left: 10rem;
  text-align: left;
  font-size: 2.8em;
}

.bold {
  font-weight: bold;
}
/* //================================================== */

/* Esta fuente está siendo importada desde los recursos*/
/* @font-face {
  font-family: blanka;
  src: url(/src/recursos/Blanka-Regular.otf);
} */
